@charset "utf-8";

/***************
ヘッダー
***************/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}
.header_logo_img-wrap {
    width: 100%;
}
.header_logo_img {
    width: 100%;
    height: 15px;
    padding-left: 20px;
}
/***************
fv
***************/
body {
    background-color:#F9F9F9;
    /* width: 100%; */
    margin: 0 auto !important;
    max-width: 900px;
}
.top_wrap {
    margin: 0 auto;
    width: 900px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.preview_wrap {
    width: 100%;
}
.wrap {
    flex: 1;
    background: #F5F5F7;
    position: relative;
}
.preview_head {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
@media (max-width: 550px) {
    .preview_head {
    }
}
.fv {
    background: #CFE2E6;
    /* position: relative; */
    position: relative;
    z-index: 1;
    height: auto;
}
.fv::after {
    position: absolute;
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    width: 340px;
    height: 285px;
    max-height: -webkit-fill-available;
    z-index: -1;
    background: url(/images/fv_images@2x.png) no-repeat center center;
    background-size: cover;
}
.fv_inner {
    padding: 32px 20px;
}
.fv_text_wrap {
    padding-left: 10px;
}

.red {
    color: #D85041;
}
.fv_small_title {
    position: relative;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}
.fv_small_title::before {
    transform: rotate(-40deg);
    left: -8px;
}
.fv_small_title::after {
    transform: rotate(40deg);
    right: -5px;
}
.fv_small_title::before,
.fv_small_title::after {
    display: inline-block;
    content: '';
    width: 1px;
    background: #233D4C;
    vertical-align: bottom;
    position: absolute;
    bottom: -3px;
    height: 13px;
}
.fv_main_title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
}
.fv_sub_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}
.fv_btn_wrap {
    text-align: center;
}
.fv_btn {
    background: #D85041;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transition: 0.2s ease-out;
}
.fv_btn:hover {
    opacity: .9;
    color: #fff;
}

/***************
main
***************/
.main_body {
    padding: 40px 20px;
}
.main_body_title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 24px;
}
.main_body_title::before {
    transform: rotate(-25deg);
    left: 15px;
}
.main_body_title::after {
    transform: rotate(25deg);
    right: 15px;
}
.main_body_title::before,
.main_body_title::after {
    display: inline-block;
    content: '';
    width: 2px;
    background: #A4AFB3;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    height: 50px;
}
.main_desc {
    line-height: 1.6923;
    color: #7A878C;
    text-align: center;
    font-size: 13px;
    margin-bottom: 32px;
}
.top_form_wrap {
    display: flex;
    column-gap: 15px;
    margin-bottom: 108px;
}
.top_form_title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4666;
    text-align: center;
    margin-bottom: 8px;
}
.top_form_img_wrap {
    margin-bottom: 8px;
}
.top_form_btn {
    position: relative;
    font-size: 13px;
    color: #fff;
    background: #D85041;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px #D8504133;
    transition: 0.2s ease-out;
}
.top_form_btn:hover {
    transform: translateY(-2px);
    opacity: .9;
    color: #fff;
}
.top_form_btn::after {
    content: '';
    display: inline-block;
    background: url(/images/right_arrow.svg) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
}
/***************
ガイド
***************/
.guide_item:nth-of-type(3) {
    margin-bottom: 106px;
}
.guide_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 26px;
}
.guide_img_wrap {
    margin-bottom: 16px;
    position: relative;
}
.guide_img_wrap::after {
    position: absolute;
    content: '';
    display: block;
    width: 92px;
    height: 60px;
    right: 5px;
    bottom: -64px;
    z-index: -1;
}
.guide_img_wrap01::after {
    background: url(/images/01@2x.png) no-repeat center center;
    background-size: contain;
}
.guide_img_wrap02::after {
    background: url(/images/02@2x.png) no-repeat center center;
    background-size: contain;
}
.guide_img_wrap03::after {
    background: url(/images/03@2x.png) no-repeat center center;
    background-size: contain;
}
.step_text_img {
    width: 48px;
    height: 12px;
}
.guide_item_head {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.guide_item_content {
    font-size: 14px;
    line-height: 1.75;
}
.guide_note {
    font-size: 10px;
    color: #A4AFB3;
    line-height: 1.75;
    margin-top: 8px;
}
.guide_item:not(:first-child){
    margin-bottom: 60px;
}
.second_form_wrap {
    background: #F9F9F9;
    padding: 40px 20px;
    margin-bottom: 0;
}

.footer {
    background: #596266;
    color: #FFFFFF;
    font-size: 12px;
}
.footer_inner {
    padding: 40px 20px 74px;
}
.footer_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}
.footer_copyright {
    text-align: center;
}
.footer_item a {
    position: relative;
    transition: .2s ease-out;
}
.footer_item a:hover {
    color: #fff;
    opacity: .7;
}
.footer_item a::after {
    content: '';
    display: inline-block;
    background: url(/images/icon_blank.svg) no-repeat center center;
    background-size: contain;
    width: 11px;
    height: 11px;
    position: absolute;
    right: -15px;
    top: 2px;
}


/***************
履歴書フォーム
***************/
.resume_wrap {
    padding: 37px 20px 108px;
    background: #F5F5F7;
    max-width: 550px;
    margin: 0 auto;
}
.preview_head_wrap {
    padding: 37px 20px 32px;
    background: #F5F5F7;
}
.step_nav_wrap {
width: 500px;
margin: 0 auto 32px;
}
.step_nav_wrap {
    width: 95%;
}
.step_nav_list {
position: relative;
padding-left: 0;
display: -webkit-flex;
display: flex;
-webkit-justify-content: space-between;
justify-content: space-between;
}
.step_nav_list li {
position: relative;
width: 24px;
height: 24px;
border: 1px solid #E6E6E6;
background: #E6E6E6;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
z-index: 1;
color: #fff;
cursor: pointer;
}
.step_nav_list li a {
    display: block;
    width: 100%;
    height: 24px;
}
.step_nav_list li a:hover {
    color: #fff;
}
.step_nav_list li span {
font-size: 13px;
font-weight: bold;
line-height: 1;
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
.step_nav_list li.active {
color: #fff;
background: #D85041;
border: 1px solid #D85041;
}
.step_nav_list:after {
content: '';
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 2px;
background: #E6E6E6;
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.resume_step_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 24px;
}
.resume_step_note_wrap {
    background: #F9F9F9;
    font-size: 13px;
    line-height: 1.6923;
    margin-bottom: 24px;
}
.resume_step_note {
    padding: 8px 16px;
}
.resume_form_wrap {
    margin-bottom: 40px;
}
.item_name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.item_name_sub {
    font-size: 10px;
    color: #A4AFB3;
    margin-bottom: 8px;
}
.flex {
    display: flex;
    align-items: center;
}
.flex_column_2 {
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
}

.col_12 {
    column-gap: 12px;
}
.col_12 .input_wrap {
    width: calc( 50% - 6px);
}
.mb_8 {
    margin-bottom: 8px;
}
.mr_12 {
    margin-right: 12px;
}
.item_wrap+.item_wrap {
    margin-top: 12px;
}
.item_body > span {
    font-size: 13px;
    margin: 0 4px 0 4px;
}
.input_year,
.input_age {
    width: 104px;
}
.input_month,
.input_day {
    width: 80px;
}
.form_label {
  display: block;
  width: calc(50% - 6px);
}
input[type="radio"] {
    appearance: none;
    display: none;
    opacity: 0;
    width: 1px;
    position: absolute;
    height: 1px;
}
input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}
.radio_text {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 20px 32px;
  border-radius: 2px;
  font-size: 13px;
  background: #fff;
}
.radio_text::before,
.radio_text::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto 10px auto 0;
  box-sizing: border-box;
}
.radio_text::before {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #E6E6E6;
  left: 8px;
}
.input_radio:checked + .radio_text::before {
  border: 2px solid #0070bd;
}
.radio_text::after {
  width: 8px;
  height: 8px;
  background: #999999;
  left: 12px;
  opacity: 0;
}
.input_radio:checked + .radio_text::after {
  background: #0070bd;
}
.input_radio:checked + .radio_text::after {
  opacity: 1;
}
.pager_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.next_step_btn {
    width: 144px;
    position: relative;
    font-size: 13px;
    color: #fff;
    background: #D85041;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px #d8504133;
    transition: .2s ease-out;
    cursor: pointer;
}
.next_step_btn:hover {
    color: #fff;
    opacity: .9;
    transform: translateX(2px);
}
.next_step_btn::after {
    content: '';
    display: inline-block;
    background: url(/images/right_arrow.svg) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
}
.back_step_btn {
    font-size: 13px;
    transition: .2s ease-out;
}
.back_step_btn:hover {
    color: inherit;
    transform: translateX(-2px);
}
.back_step_btn::before {
    content: '';
    display: inline-block;
    background: url(/images/back_arrow.svg) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
.preview_btn {
    display: block;
    width: 100%;
    color: #fff;
    background: #D85041;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 16px 0;
    line-height: 1.4231;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: 0.1s ease-out all;
}
.preview_btn:hover {
    opacity: .9;
}
.preview_btn span {
    position: relative;
    color: #fff;
}
.preview_btn:hover.preview_btn span {
    color: #fff;
}
.preview_btn span::before {
    position: absolute;
    content: '';
    display: inline-block;
    background: url(/images/preview@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    left: -20px;
}
.back .preview_btn span::before {
    position: absolute;
    content: '';
    display: inline-block;
    background: url(/images/back.svg) no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 8px;
    left: -20px;
    top: 4px;
}
.navy_btn_wrap {
    margin-top: 24px;
    background: #233D4C;
    border-radius: 3px;
    text-align: center;
    padding: 17px 0;
    cursor: pointer;
}
.navy_btn {
    position: relative;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    line-height: 1.15384;
}
.navy_btn::after {
    content: '';
    display: inline-block;
    background: url(/images/plus@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
}
.address_note {
    font-size: 13px;
    line-height: 1.6923;
    padding: 21px 0;
    border-top: 1px solid #E6E6E6;
    margin-top: 24px;
}
.auto_btn_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D85041;
    border-radius: 3px;
    height: 51px;
    width: calc(50% - 16px);
    margin-left: 16px;
    cursor: pointer;
}
.auto_btn {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.photo_upload_image {
    width: 150px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.normal_text_wrap {
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.75;
}
.normal_text_wrap .red {
    font-weight: bold;
}
.small_note_text {
    font-size: 10px;
    line-height: 1.75;
    color: #A4AFB3;
    margin-bottom: 16px;
}
.small_text {
    font-size: 10px;
}
.mb_16 {
    margin-bottom: 16px;
}
.align_item_base {
    align-items: baseline;
}
.input_family {
    width: 104px;
}
label,
input[type='checkbox'] {
    cursor: pointer;
}
.thanks_wrap {
    background: #FFF;
    padding: 24px 20px 37px;
    margin-bottom: 24px;
}
.thanks_header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 24px;
}
.thanks_text {
    font-size: 13px;
    line-height: 1.6923;
}
.top_back_btn {
    background: #D85041;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transition: .2s ease all;
}
.top_back_btn:hover {
    color: #fff;
    transform: translateY(-2px);
    opacity: .9;
}
.el-collapse {
    margin-top: 32px;
    border-top: 1px solid #EBEEF5;
    border-bottom: 1px solid #EBEEF5;
}
.el-collapse-item__wrap {
    will-change: height;
    background-color: #F5F5F7 !important;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #F5F5F7 !important;
}
.accordion_title {
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold !important;
    line-height: 1.5;
}
.accordion_title:nth-of-type(1) {
    margin-bottom: 8px;
}
.el-collapse-item__header {
    display: flex;
    align-items: center;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
    background-color: #FFF;
    color: #233D4C !important;
    cursor: pointer;
    border-bottom: 1px solid #233D4C !important;
    font-weight: bold !important;
    transition: border-bottom-color .3s;
    outline: 0;
}
.el-collapse-item__content {
    padding-bottom: 25px;
    font-size: 13px;
    color: #233D4C;
    font-weight: normal;
    line-height: 1.6923 !important;
    padding: 16px !important;
}
.accordion_content_list {
    margin-bottom: 16px;
}
.el-collapse-item__header {
    border: 1px solid #233D4C;
    border-radius: 3px;
}
.content_normal_text {
    font-size: 13px;
    line-height: 1.6923;
}
.photo_img_wrap {
    column-gap: 32px;
    justify-content: center;
}
.photo_img img {
    height: 160px;
}
.app_img_wrap {
    justify-content: center;
    column-gap: 10px;
    margin-top: 25px;
}
.photo_app a {
    display: inline-block;
}
.apple_link {
    width: 118px;
    height: 45px;
}
.apple_link img {
    width: 100%;
    height: auto;
}
.google_link {
    width: 148px;
    height: auto;
}
.google_link img {
    width: 100%;
    height: auto;
    margin-top: -5px;
}
.upload_label {
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    font-weight: bold;
    font-size: 13px;
}
.upload_label::after {
    content: '';
    display: inline-block;
    background: url(/images/plus@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
}
.none {
    display: none;
}
.delete::after {
    content: '';
    display: inline-block;
    background: url(/images/minus@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
}
.history_item_wrap {
    background: #fff;
    margin-top: 16px;
    padding: 16px 0 16px 16px;
    cursor: pointer;
}
.history_small {
    font-weight: normal;
    color: #596266;
    margin-left: 5px;
}
.hover_up:hover {
    opacity: .9;
}
.card_btn_wrap {
    height: 51px;
    text-align: right;
    flex-direction: row-reverse;
}
.card_delete_btn {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 11px 24px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
}
.card_register_btn {
    background: #D85041;
    color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 11px 24px;
    cursor: pointer;
    font-size: 13px;
}
.card_content_wrap {
    width: 85%;
}
.card_change_btn_wrap {
    width: 15%;
    text-align: center;
}
.card_change_btn_wrap img {
    width: 16px;
    height: 16px;
}
.card_up_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}
.history_item_wrap:first-of-type .card_up_btn {
    opacity: .3;
}
.history_item_wrap:last-of-type .card_down_btn {
    opacity: .3;
}
.isActive {
    padding: 16px !important;
    border: 2px solid #D85041;
}
.isActive .card_content_wrap {
    width: 100% !important;
}
.isNone {
    display: none !important; 
}
.card_down_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}
.v--modal-box.v--modal {
    background: #F5F5F7;
    padding: 21px 20px 80px;
    max-width: 600px;
    margin: 0 auto;
}
.close_btn_wrap {
    display: flex;
    justify-content: flex-end;
}
.close_btn {
    width: 16px;
    cursor: pointer;
}
.close_btn img {
    width: 16px;
    height: 16px;
}
.modal_header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.modal_note_wrap {
    background: #F9F9F9;
    padding: 8px 16px;
    border-radius: 2px;
    margin-bottom: 24px;
    line-height: 1.692;
}
.modal_desc {
    font-size: 13px;
}
.modal_head_note {
    font-size: 11px;
}
.modal_sample_content {
    background: #FFF;
    padding: 16px 20px;
    font-size: 12px;
    line-height: 1.75;
    border: 2px solid #E6E6E6;
    border-radius: 2px;
    cursor: pointer;
}
.modal_sample_content:not(:first-child) {
    margin-top: 16px;
}
.modal_footer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    position: fixed;
    z-index: 9000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.modal_add_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBA79F;
    color: #fff;
    padding: 16px;
    font-weight: bold;
    line-height: 1.15;
    width: 66.4%;
}
.modal_close_btn {
    background: #233D4C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-weight: bold;
    line-height: 1.15;
    width: 33.6%;
    cursor: pointer;
}
.modal_add_btn span {
    position: relative;
}
.modal_add_btn span::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(/images/plus@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    top: 1px;
    right: -24px;
    z-index: 9999;
}
.active {
    background: #D85041;
    cursor: pointer;
}
.border_red {
    border: 2px solid #D85041;
}
.date_input {
    width: 100% !important;
}
.el-input__inner {
    height: 51px !important;
    border-radius: 2px !important; 
}
.el-radio {
    height: 51px !important;
    border-radius: 2px !important; 
    margin-right: 0px !important;
    width: calc( 50% - 6px);
    background: #fff;
}
.el-radio.is-bordered+.el-radio.is-bordered {
    margin-left: 0 !important;
}
.el-radio.is-bordered {
    padding: 18px 20px 0 10px !important;
    border: 1px solid #DCDFE6;
}

@media (max-width: 350px){
    .input_year {
        width: 80px;
    }
    .input_month,
    .input_day {
        width: 60px;
    }
}
.preview-viewer {
    height: 1070px;
    background: #fff;
}
@media (max-width: 794px) {
    .is-preview {
        transform: scale(0.47229);
        transform-origin: left top;
    }
    .fixed_preview_btn {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #233D4C;
        height: 51px;
        width: 126px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 4px 0 0;
        z-index: 800;
        padding-left: 10px;
    }
    .fixed_preview_btn span {
        position: relative;
        color: #fff;
        font-size: 13px;
    }
    .fixed_preview_btn span::before {
        position: absolute;
        content: '';
        display: inline-block;
        background: url(/images/preview@2x.png) no-repeat center center;
        background-size: contain;
        width: 16px;
        height: 16px;
        left: -20px;
        top: 2px;
    }
    .back_arrow {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #233D4C;
        height: 51px;
        width: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 4px 0 0;
        z-index: 800;
        padding-left: 10px;
    }
    .back_arrow span {
        position: relative;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
    }
    .back_arrow span::before {
        position: absolute;
        content: '';
        display: inline-block;
        background: url(/images/edit.svg) no-repeat center center;
        background-size: contain;
        width: 15px;
        height: 15px;
        left: -22px;
        top: 3px;
    }
}
@media (min-width: 795px) {
    .preview-viewer {
        height: auto;
    }
    .fixed_preview_btn {
        display: none;
    }
    .back_arrow {
        display: none;
    }
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 0 !important;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
    object-fit: cover;
  }
  .step2 .el-collapse-item__header {
    background: #233D4C !important;
    color: #fff !important;
    text-align: center;
    justify-content: center;
    padding-left: 0 !important;
    position: relative;
  }
  .step2 .el-collapse-item__arrow {
      display: none !important;
}
.step2 .el-collapse-item__header::after {
    content: '';
    display: inline-block;
    background: url(/images/plus@2x.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
}
.step2 .el-collapse-item__header.is-active::after {
    content: '';
    display: inline-block;
    background: url(/images/minus@2x.png) no-repeat center center;
    background-size: contain;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 18px;
}
.width100 {
    width: 100%;
}
.count_check {
    text-align: right;
    font-size: 13px;
}
.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 16px 20px !important;
    line-height: 1.75 !important;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px !important;
    color: #233D4C !important;
    background-color: #FFF;
    border: 1px solid #E6E6E6 !important;
    border-radius: 2px !important;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.el-textarea__inner::placeholder {
    color: #B3B3B3;
}
.modal_sample_content {
    white-space: pre-wrap;
}
.lh_1 {
    line-height: 1;
}
.age_label {
    width: 30px;
}
.final_input .el-select {
    width: 100%;
}
.education_form_item {
    margin-top: 32px;
    color: #233D4C;
}
.education_form_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 16px;
}
.education_form_title+.el-input {
    margin-bottom: 16px;
}
.select_state {
    width: 100%;
    max-width: 158px;
}
.education_form_item .flex {
    align-items: baseline;
}
.edu_span {
    margin: 0 16px 0 4px !important;
}
.card_list_item {
    display: flex;
    align-items: center;
    list-style: none;
}
.submit_btn {
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin: 24px 0 24px auto;
}
.pdf_btn {
    background: #416AD8;
    width: 100%;
    font-weight: bold;
}
.pdf_btn:hover {
    transform: translateY(-2px);
}
.download_wrap {
    border-top: 1px solid #e6e6e6;
    padding: 24px 0 48px;
}
.download_text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 16px;
}
.pdf_btn::after {
    content: '';
    display: inline-block;
    background: url(/images/download.png) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
}
.last_back_inner {
    flex-direction: row !important;
}
.error {
    font-size: 12px;
    color: #D85041;
}
.disable {
    opacity: .5 !important;
    transform: none !important;
    cursor: default !important;
}